 body {
        margin: 0;
        padding: 0;
        background: #000;
        overflow: hidden;
        font-family: sans-serif;
    }

    #bgVideo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: 0;
    }

    #gameWrapper, #controls, #restartBtn {
   z-index: 5;
   position: relative;
}


    .start-line {
        position: fixed;
        left: 20px;
        top: 0;
        width: 10px;
        height: 100vh;
        z-index: 999;
    }

    .end-line {
        position: fixed;
        right: 20px;
        top: 0;
        width: 10px;
        height: 100vh;
        background: #0f0;
        z-index: 999;
    }

    #gameCanvas {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }

    #restartBtn {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 25px;
        background: #0ff;
        color: #000;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        display: none;
        z-index: 1000;
    }

    #controls {
        position: fixed;
        bottom: 80px;
        right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        z-index: 2000;
    }

    #joystick {
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    touch-action: none;
}

#stick {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 35px;
    transition: 0.05s linear;
}
