   html,
   body {
       height: 100%;
       overflow: hidden;
       margin: 0;
       padding: 0;
   }

   #gameWrapper {
       width: 100vw;
       height: 100vh;
       /* background: black; */
   }

   #rotateWarning {
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       background: rgba(0, 0, 0, 0.9);
       color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 24px;
       z-index: 9999;
       text-align: center;
       padding: 20px;
   }

#fullscreenBtn {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        color: white;
        padding: 15px 25px;
        border-radius: 10px;
        font-size: 18px;
        z-index: 999999 !important;
        display: none;
    }

    .hidden {
        display: none !important;
    }


    @media (orientation: landscape) {
        #fullscreenBtn {
            display: block;
        }
    }

    @media (orientation: portrait) {
        #fullscreenBtn {
            display: block;
        }
    }

   @media (orientation: landscape) {
       #rotateWarning {
           display: none;
       }
   }

   @media (orientation: portrait) {
       #rotateWarning {
           display: flex;
       }
   }